/* Tema por defecto: light (con variables de botón definidas) */
:root {
  /* Variables generales */
  --primary-bg: #ffffff;
  --secondary-bg: #f7f7f7; /* Fondo suave, ligeramente grisáceo */
  --primary-text: #0d1e4c;
  --border-color: #d1d5db;
  --hover-bg: #f0f4ff;
  --active-bg: #bfdbfe;
  --active-text: #1e3a8a;

  /* Variables específicas para el input en light */
  --input-bg: #ffffff;
  --input-text: #0d1e4c;
  --input-border: #1c2c4f;
  --input-hover-border: #1c2c4f;
  --input-focus-border: #1c2c4f;

  /* Variables específicas para la tabla */
  --table-header-bg: #0d1e4c;
  --table-header-text: #ffffff;
  --table-row-hover-bg: #f9fafb;

  /* Variables específicas para botones en light */
  --button-bg: #0d1e4c;           /* Fondo oscuro para el botón */
  --button-text: #ffffff;         /* Texto en blanco */
  --button-hover-bg: #0a1630;      /* Fondo un poco más oscuro en hover */
  --button-active-bg: #09122b;     /* Fondo aún más oscuro al hacer click */
}

/* Tema dark */
[data-theme="dark"] {
  /* Variables generales */
  --primary-bg: #121212; /* Fondo oscuro */
  --secondary-bg: #1e1e1e; /* Fondo secundario oscuro */
  --primary-text: #e0e0e0; /* Texto claro */
  --border-color: #444444;
  --hover-bg: #2a2a2a;
  --active-bg: #333333;
  --active-text: #ffffff;

  /* Input en dark */
  --input-bg: #121212;
  --input-text: #e0e0e0;
  --input-border: #e0e0e0;
  --input-hover-border: #e0e0e0;
  --input-focus-border: #e0e0e0;

  /* Variables específicas para la tabla */
  --table-header-bg: #1e1e1e;
  --table-header-text: #e0e0e0;
  --table-row-hover-bg: #2c2c2c;

  /* Variables específicas para botones en dark */
  --button-bg: #e0e0e0;           /* Fondo claro para contraste */
  --button-text: #121212;         /* Texto oscuro */
  --button-hover-bg: #cccccc;      /* Fondo ligeramente más oscuro en hover */
  --button-active-bg: #b3b3b3;     /* Fondo aún más oscuro al hacer click */
}

/* Tema darkblue */
[data-theme="darkblue"] {
  /* Variables generales */
  --primary-bg: #1f2937;
  --secondary-bg: #2e3a46;
  --primary-text: #f3f4f6;
  --border-color: #4b5563;
  --hover-bg: #374151;
  --active-bg: rgba(37, 99, 235, 0.31);
  --active-text: #93c5fd;

  /* Input en darkblue */
  --input-bg: #1f2937;
  --input-text: #f3f4f6;
  --input-border: #1c2c4f;
  --input-hover-border: #1c2c4f;
  --input-focus-border: #1c2c4f;

  /* Variables específicas para la tabla */
  --table-header-bg: #374151;
  --table-header-text: #f3f4f6;
  --table-row-hover-bg: #2d3748;

  /* Variables específicas para botones en darkblue */
  --button-bg: #0d1e4c;           /* Fondo azul oscuro para el botón */
  --button-text: #ffffff;         /* Texto en blanco */
  --button-hover-bg: #0a1e44;      /* Fondo un poco más oscuro en hover */
  --button-active-bg: #08143d;     /* Fondo aún más oscuro al hacer click */
}


