@layer components {
  .input {
    @apply rounded-xl border border-solid border-[#c4e0f9] outline-none 
             px-4 py-3 bg-white text-[#1c2c4f] h-[2.75rem] 
            hover:border-blue-300 focus:border-blue-400 transition-colors duration-300 ease-in-out;
    font-family: var(--text-lg-medium-font-family);
    font-size: var(--text-lg-medium-font-size);
    font-style: var(--text-lg-medium-font-style);
    font-weight: var(--text-lg-medium-font-weight);
    line-height: var(--text-lg-medium-line-height);
  }
}
