@layer components {
  .react-modal-overlay {
    @apply fixed top-0 left-0 w-full h-full z-[9999] flex items-center justify-center;
    /* Mantendremos el overlay en negro con opacidad (esto se suele dejar fijo) */
    background: rgba(0, 0, 0, 0.5);
  }
  
  .react-modal-wrapper {
    @apply rounded-[20px] shadow-lg p-5 pt-2 flex flex-col gap-4;
    background: var(--primary-bg); /* Usa el color primario según el tema */
    border: 1px solid var(--border-color); /* Borde usando la variable de color */
  }
  
  .react-modal-content {
    @apply relative flex flex-col gap-4;
    color: var(--primary-text); /* Texto del modal según el tema */
  }
  
  .react-modal-header,
  .react-modal-body,
  .react-modal-footer {
    @apply flex flex-col gap-4;
  }
  
  .react-modal-header {
    @apply flex justify-between items-start;
    /* Usamos un borde inferior con la variable de borde */
    border-bottom: 1px solid var(--border-color);
  }
  
  .react-modal-footer {
    @apply flex items-center justify-end;
    /* Usamos un borde superior con la variable de borde */
    border-top: 1px solid var(--border-color);
  }
}
